@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1>@ViewData["Title"]</h1>
        <p>Enter your email. Please use the email address where you received the invitation.</p>
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

