@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password. You should receive an email from info@durwa-pranav.com with instructions.
        </p>
        <p>
            Make sure to check your spam/junk folder too in case you don't see it!
        </p>
    </div>
</div>

