@page
@model RegisterConfirmationModel

    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <h1>Register confirmation</h1>
            <p>
                Registration is closed. Contine to <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </p>
        </div>
    </div>
