@page
@model RegisterModel

    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <h1>Register</h1>
            <p>
                Registration is closed. Contine to <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </p>
        </div>
    </div>
