@page
@model Opifex.Rsvp.Pages.MainCardModel

    <style>
        #paperCard {
            background-image: url("/img/main.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-origin: content-box;
        }
    </style>

    <div id="paperCard" class="w-100 h-100 flex-grow-1">&nbsp;</div>

