@page
@model Opifex.Rsvp.Pages.ZoomGuestsModel
<style>
    #mainCard {
        width: 100% !important;
        margin: 0 !important;
        max-width: 100% !important;
    }
</style>

<div class="alert alert-light" role="alert">
    There are a total of @Model.Rows.Count() Zoom guests.
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rows)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="@item.Id" name="guestId" />
                        <button type="submit" asp-page-handler="SendZoomInvite" class="btn btn-outline-primary">Send Zoom Invite</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
